<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/admin/index">3D CV</a>
        <ul>
            <li><a class="disable" href="#">Admin</a></li>
            <li><a class="nav-button" href="/admin/pwupdate">Account</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

        <div class="container" style="width: 30%;">
            <br>
            <h1 class="center" style="text-align: center;">New Password</h1>
            <lottie-player src="https://assets2.lottiefiles.com/datafiles/Y00QYvz2RSOfBnQ/data.json"
                background="transparent" speed="0.75" style="width: 300px; height: 300px;" class="center" loop autoplay>
            </lottie-player>
            <form action="/admin/pwupdate/<%=admin.id%>" method="POST" onsubmit="return validupdate()">

                <div>
                    <div>
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Enter new password" required>
                    </div>

                    <div>
                        <label>Confirm Password:</label>
                        <input type="password" class="form-control" id="password2"
                            placeholder="Enter new password again" required>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary center" style="width: 100%;">Submit</button>


            </form>
        </div>
</body>

<script>
    function validupdate(){
        var valid=true;
        var pw1=document.getElementById("password").value;
        var pw2=document.getElementById("password2").value;
        if(pw2==pw1){
            alert("Your password is updated"); 
            valid=true;
        }else{
            alert("Make sure you input the same new password!")
            valid=false;
        }

        return valid;
        
    }
</script>