<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>
    .selectlevel {
        display: none;
    }
</style>

<body onload="pageLoaded()">
    <nav>
        <a class="logo disable" href="/admin/index">3D CV</a>
        <ul>
            <li style="color:white;font-size: 25px;padding-right: 10px;">Admin</li>
            <li><a class="nav-button" href="/admin/pwupdate">Account</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container" style="width: 30%;">
        <h2 class="intro">Add User</h2>
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_iXKIMU.json" background="transparent"
            speed="0.8" style="width: 200px; height: 200px;" class="center" loop autoplay></lottie-player>
        <form action="/admin/useradd" method="POST" onsubmit="return validupdate()">
            <div class="form-group row">

                <div class="col-xl-12 col-form-label center">
                    <label>Role:</label>
                    <select name="userrole" class="form-control">
                        <option value="" class="selectlevel">Please select the role of user</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                </div>

                <div class="col-xl-12 col-form-label center">
                    <label>Username:</label>
                    <input type="text" class="form-control" name="username" id="username"
                        placeholder="Enter username" required>

                </div>

                <div class="col-xl-12 col-form-label">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Enter password" required>
                </div>

                <div class="col-xl-12 col-form-label">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control" id="password2" placeholder="Enter password again"
                        required>
                </div>

            </div>
            <button type="submit" class="btn btn-primary center" style="width:100%">Submit</button>
        </form>
    </div>

</body>

<script>

    function validupdate() {
        var valid = true;
        var pw1 = document.getElementById("password").value;
        var pw2 = document.getElementById("password2").value;
        if (pw2 == pw1) {
            alert("The account is created");
            valid = true;
        } else {
            alert("Make sure you input the same password!")
            valid = false;
        }

        return valid;

    }

</script>