<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


<body onload="pageLoaded()">
    <nav>
        <a class="logo disable" href="/admin/index">3D CV</a>
        <ul>
            <li><a class="disable" href="#">Admin</a></li>
            <li><a class="nav-button" href="/admin/pwupdate">Account</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container" style="width: 100%;">
        <h2 class="intro">The username is already used </h2>
        <a class="intro center" href="/admin/useradd" >Click here</a>
        <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_jq4i7W.json" background="transparent"
            speed="0.75" style="width: 300px; height: 300px;" class="center" loop autoplay></lottie-player>
    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="sweetalert2.all.min.js"></script>


<script>
    

</script>