<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


<body>
    <nav>
        <li><h2 style="text-align: center;color:white;font-size: 50px;">Error Page</h2></li>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="width:70%;margin:auto">
        <h2 style="text-align: center;">You have no right to access this page</h2>
        <a href="javascript:history.back()"><h2 style="text-align: center;text-decoration: underline;">Click here to go back the previous page</h2></a>
        
        <lottie-player class="center" src="https://assets6.lottiefiles.com/temp/lf20_0txt7u.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop autoplay></lottie-player>

    </div>

</body>