<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="nav-button" href="/user/basicupdate">Account</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>


    <!-- <h2 class="intro">Menu</h2> -->

    <div class="menubar">

        <div class="btnbar">

            <button onclick="showTab(1)"><i class="fa fa-id-card-o" aria-hidden="true"></i>View Paper CV</button>
            <button onclick="showTab(2)"><i class="fa fa-desktop" aria-hidden="true"></i>
                View Digital CV</button>
        </div>


        <div class="tab">
            <div style="float: right;">
                <lottie-player class="ani" src="https://assets10.lottiefiles.com/packages/lf20_ycbVE1.json"
                    background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay>
                </lottie-player>
            </div>
            <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Reminders:</h3>

            <br>
            <h4>1. The blank with * must be filled in</h4>
            <br>
            <h4>2. Make sure you input the real information</h4>
            <br>
            <h4>3. Look at the reminders of every single page</h4>
            <br>
            <h4>4. Click the back button to edit information of the previous page</h4>
            <br>
            <h4>5. After submitting, you can edit CV in the account</h4>
            <br>
            <form action="/user/basic" method="GET">
                <button id="create-button" type="submit" class="btn btn-primary">Start</button>
            </form>
        </div>



        <div class="tab">
            <div style="float: right;">
                <lottie-player class="ani" src="https://assets7.lottiefiles.com/packages/lf20_d0KDSI.json" background="transparent"
                    speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Reminders:</h3>

            <br>
            <h4>1. Paper CV will be displayed in the new page</h4>
            <br>
            <h4>2. Edit informaction in the account in case it has wrong informaction</h4>
            <br>
            <h4>3. Right click of your mouse will display the print function</h4>
            <br>
            <h4>4. Press ctrl+p to print the papercv</h4>
            <br>

            <button id="create-button" type="submit" class="btn btn-primary center"
                onclick=" window.open('/user/papercv','_blank')" target="_blank">View Paper CV</button>

        </div>

        <div class="tab">
            <div style="float: right;">
                <lottie-player  class="ani" src="https://assets3.lottiefiles.com/packages/lf20_huzedm21.json"
                    background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
            </div>

            <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Reminders:</h3>

            <br>
            <h4>1. A website of Didgital CV will be displayed in the new page</h4>
            <br>
            <h4>2. Edit informaction in the account in case it has wrong informaction</h4>
            <br>
            <h4>3. Keep the link privately as it can be accessed by public</h4>
            <br>
            <h4>4. The website link can be used for interview</h4>
            <br>

            <button id="create-button" type="submit" class="btn btn-primary center">View Digital CV</button>
        </div>

        <!-- <form action="/user/basic" method="GET">
            <button type="submit" class="btn btn-primary center">Create CV</button>
        </form>

        <br>

        <form action="" method="GET">
            <button type="submit" class="btn btn-primary center">View Digital CV</button>
        </form>

        <br>

        <form action="/user/papercv" method="GET">
            <button type="submit" class="btn btn-primary center">View Paper CV</button>
        </form> -->


    </div>



</body>

<script>
    var currentTab = 1; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        for (i = 0; i < x.length; i++) {
            if (i != n) {
                x[i].style.display = "none";
            }
        }
    }
</script>