<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2 class="intro">Menu</h2>
        <form action="/user/basic" method="GET">
            <button type="submit" class="btn btn-primary center">Create CV</button>
        </form>

        <br>

        <form action="" method="GET">
            <button type="submit" class="btn btn-primary center">View Digital CV</button>
        </form>

        <br>

        <form action="" method="GET">
            <button type="submit" class="btn btn-primary center">View Paper CV</button>
        </form>


    </div>

</body>
