<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>
    #currentlevel {
        display: none;
    }
</style>

<body>

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="/user/guide">User Guide</a></li>
            <li><a href="/user/template">CV Template</a></li>
            <li><a class="update-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="update-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>


    <div class="menubar">

        <div class="btnbar">
            <form action="/user/multiupdate" method="GET">
                <button style="color: violet;"><i class="fa fa-user" aria-hidden="true"></i>Personal Photo</button>
            </form>
            <form action="/user/imgupdate" method="GET">
                <button><i class="fa fa-picture-o" aria-hidden="true"></i></i>Image</button>
            </form>
            <form action="/user/videoupdate" method="GET">
                <button><i class="fa fa-video-camera" aria-hidden="true"></i></i>Video</button>
            </form>
            <form action="/user/pdfupdate" method="GET">
                <button><i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF</button>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-10 m-auto">
                    <h2 style="text-align: center;">Current Photo</h2>
                    <img class="center" src=<%=user.photo%> style="width: 70%;
                    height:auto;margin-left:auto;margin-right:auto;>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-10 m-auto">
                    <form action="/user/photoupdate" method="POST" enctype="multipart/form-data" onsubmit="return validupdate()">
                        <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept="image/*" name="avatarfile" required>
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Update</button>
                    </form>

                    <br>

                    <form action="/user/photoremove" method="POST" onsubmit="return validremove()">
                        <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-trash"
                                style="padding-right: 5px" aria-hidden="true"></i>Remove Photo</button>
                    </form>
                </div>
            </div>


        </div>

    </div>
</body>

<script>
    document.querySelector(".custom-file-input").onchange = function () {
        document.querySelector(".custom-file-label").textContent = this.files[0].name;
    }

    function validupdate() {
        var valid = true;
        alert("Your personal photo is updated");
        return valid;
    }

    function validremove() {
        var valid = true;
        alert("Your personal photo is removed and set to the default photo");
        return valid;
    }

    


</script>