<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="update-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="update-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container">

        <h2 class="intro"> <i class="fa fa-file" aria-hidden="true" style="padding-right: 20px;"></i>Multimedia</h2>


        <form action="/user/index2" method="GET">
            <div class="form-group row">

                <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                    <label>Photo:</label>
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </div>
                <div>
                <br>
            </div>

                <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                    <label>Video:</label>
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </div>

                <br>
                
                <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                    <label>PDF:</label>
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </div>

                <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                    <label>Other:</label>
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary center">Add Multimedia</button>
        </form>


    </div>

</body>

<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        for (i = 0; i < x.length; i++) {
            if (i != n) {
                x[i].style.display = "none";
            }
        }
    }

    function goBack() {
        window.history.back();
    }

    function validskill2() {
        const type = document.getElementById("type2");
        const content = document.getElementById("content2");
        
        var valid = true;

        if (type.value == "" && content.value == "") {
            valid = true;
        } else if (type.value != "" && content.value != "") {
            valid = true;
        } else {
            alert("Make sure you enter all the elements of one skill record");
            valid = false;
        }
        return valid;
    }

    function validskill3() {
        const type = document.getElementById("type3");
        const content = document.getElementById("content3");
        
        var valid = true;

        if (type.value == "" && content.value == "") {
            valid = true;
        } else if (type.value != "" && content.value != "") {
            valid = true;
        } else {
            alert("Make sure you enter all the elements of one skill record");
            valid = false;
        }
        return valid;
    }


</script>