<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/user/index">3D CV</a>
        <ul>
            <li><a href="/user/guide">User Guide</a></li>
            <li><a href="/user/template">CV Template</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container" style="width:60%;padding-bottom: 80px;">

        <h2 class="intro"> <i class="fa fa-file" aria-hidden="true" style="padding-right: 20px;"></i>Multimedia</h2>
        <h4>Uploading File:</h4>
        <h4>1. Everytime you can only upload one file</h4>
        <h4>2. After uploading the file, the page will be refreshed for you to upload another one</h4>
        <h4>3. Information and file can be edited by clicking the upper right links after submitting the full form</h4>


        <div class="form-group row">
            <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                <form action="/user/photo" method="POST" enctype="multipart/form-data" onsubmit="return validphoto()">
                    <label>Personal Photo: (Only accept one submit, second submit will replace the previous one)</label>
                    <br>
                    <input type="file" accept="image/*" name="avatarfile" />
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </form>
            </div>

            <% flash.get('error1').forEach(function (message) { %>
                <div class="errormessage">
                    <strong style="color:red;font-size: 18px;">
                        <%= message %>
                    </strong>
                </div>
            <% }) %>

            <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                <form action="/user/uploadimage" method="POST" enctype="multipart/form-data" onsubmit="return validimage()">
                    <label>Image description:</label>

                    <textarea type="text" class="form-control"
                        placeholder="Briefly introduce the image. For example: In this image, I was cooperating with my colleagues for developing and providing maintenance for 20+ .NET websites during my internship."
                        name="description" rows="3" required></textarea>

                    <br>
                    <input type="file" accept="image/*" name="avatarfile" />
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </form>
            </div>

            <% flash.get('error2').forEach(function (message) { %>
                <div class="errormessage">
                    <strong style="color:red;font-size: 18px;">
                        <%= message %>
                    </strong>
                </div>
            <% }) %>

            <br>

            <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                <form action="/user/uploadvideo" method="post" enctype="multipart/form-data" onsubmit="return validvideo()">
                    <label>Video description:</label>
                    <textarea type="text" class="form-control"
                        placeholder="Briefly introduce the video. For example: Self-introduction video"
                        name="description" rows="1" required></textarea>
                    <br>
                    <input type="file" accept="video/*" name="avatarfile" />
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </form>
            </div>

            <% flash.get('error3').forEach(function (message) { %>
                <div class="errormessage">
                    <strong style="color:red;font-size: 18px;">
                        <%= message %>
                    </strong>
                </div>
            <% }) %>

            <br>

            <div class="col-xl-12 col-form-label center" style="border-style: solid;">
                <form action="/user/uploadpdf" method="post" enctype="multipart/form-data" onsubmit="return validpdf()">
                    <label>PDF:</label>
                    <input type="file" accept="application/pdf" name="avatarfile" />
                    <button type="submit" class="btn btn-dark" style="float:right">Upload</button>
                </form>
            </div>
            <% flash.get('error4').forEach(function (message) { %>
                <div class="errormessage">
                    <strong style="color:red;font-size: 18px;">
                        <%= message %>
                    </strong>
                </div>
            <% }) %>


        </div>

        <form action="/user/index2" method="GET">
            <button type="submit" class="btn btn-primary" style="float:right">Finish CV form</button>
        </form>


        <button onclick="goBack()" style="float:left" class="btn btn-primary">Back to Language</button>


    </div>

</body>

