<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<style>
    #currentlevel {
        display: none;
    }
</style>

<body>

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="nav-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="nav-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <h2 class="intro">Manage Multimedia</h2>

    <div class="menubar">


        <br>
        <form action="/user/multiadd" method="GET">
            <button type="submit" style="float:right" class="btn btn-secondary"><i class="fa fa-plus-circle"
                    aria-hidden="true" style="padding-right:10px;"></i>Add Multimedia</button>
        </form>
        <br>

            <button class="btn btn-danger" style="color:white;float:left"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
            <br>
            <div style="border-style: double;">
                <form method="POST" onsubmit="return validupdate()">
                    <div class="form-group row">
                        <div class="col-xl-6 col-form-label center">
                            <label>Type:</label>
                            <input type="text" class="form-control" name="type" 
                                value="Photo" required>
                            
                        </div>

                        <div class="col-xl-6 col-form-label center">
                            <label>Filename:</label>
                            <input type="text" class="form-control" name="type" 
                                value="personal.png" required>
                        </div>
                    </div>
                    <div>
                        <button style="width: 30%;" type="submit" class="btn btn-primary center">Update</button>
                        <br>
                    </div>

                </form>
            </div>
            <br>
    </div>
</body>

<script>
    function validupdate() {
        var valid = true;
        alert("This record is updated");
        return valid;
    }

    async function deleteLanguage(id) {
        var r = confirm("Confirm Delete?");

        if (r) {

            var response = await fetch("/user/languagedelete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("Cancel");
        }
    }

    function removesame() {
        var current = document.getElementById("currentlevel");
        var list = document.getElementsByClassName("levellist");
        for (i = 0; i < list.length; i++) {
            if (list[i].value == current.value) {
                list[i].hidden = true
            }
        }
    }

</script>