<body class="papercv">
    <div class="container">
        <h2 class="center">Paper CV</h2>
        <h2>Name: <%=user.name%></h2>
        <h2>Email: <%=user.email%></h2>
        <h2>Phone number: <%=user.phoneno%></h2>
    </div>
</body>