<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="nav-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="nav-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>


    <!-- <h2 class="intro">Menu</h2> -->

    <div class="menubar">

        <div class="btnbar">
            <form action="/user/basicupdate" method="GET">
                <button><i class="fa fa-user" aria-hidden="true"></i>Personal</button>
            </form>
            <form action="/user/eduupdate" method="GET">
                <button><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education</button>
            </form>
            <form action="/user/workupdate" method="GET">
                <button><i class="fa fa-briefcase" aria-hidden="true"></i>Work</button>
            </form>
            <form action="/user/skillupdate" method="GET">
                <button><i class="fa fa-star" aria-hidden="true"></i>Skill</button>
            </form>
            <form action="/user/languageupdate" method="GET">
                <button><i class="fa fa-language" aria-hidden="true"></i>Language</button>
            </form>
            <form action="/user/pwupdate" method="GET">
                <button style="color: violet;"><i class="fa fa-lock" aria-hidden="true"></i>Password</button>
            </form>
        </div>

        <br>

        <div class="container" style="width: 30%;">
            <h2 class="center" style="text-align: center;">New Password</h2>
            <lottie-player src="https://assets2.lottiefiles.com/datafiles/Y00QYvz2RSOfBnQ/data.json"
                background="transparent" speed="0.75" style="width: 300px; height: 300px;" class="center" loop autoplay>
            </lottie-player>
            <form action="/user/pwupdate/<%=user.id%>" method="POST" onsubmit="return validupdate()">

                <div>
                    <div>
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Enter new password" required>
                    </div>

                    <div>
                        <label>Confirm Password:</label>
                        <input type="password" class="form-control" id="password2"
                            placeholder="Enter new password again" required>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary center" style="width: 100%;">Submit</button>


            </form>
        </div>
    </div>
</body>

<script>
    function validupdate(){
        var valid=true;
        var pw1=document.getElementById("password").value;
        var pw2=document.getElementById("password2").value;
        if(pw2==pw1){
            alert("Your password is updated"); 
            valid=true;
        }else{
            alert("Make sure you input the same new password!")
            valid=false;
        }

        return valid;
        
    }
</script>