<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="nav-button" href="/user/login">Logout</a></li>
        </ul>
    </nav>

    <div>
        <p class="intro">Userindex</p>
        <img class="center" src="https://upload.cc/i1/2020/10/13/Gu6oJk.png">
    </div>

</body>