<body>

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="/user/guide">User Guide</a></li>
            <li><a href="/user/template">CV Template</a></li>
            <li><a class="update-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="update-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2 class="intro"> <i class="fa fa-video-camera" aria-hidden="true" style="padding-right: 20px;"></i>Video</h2>
        <h4>Uploading Video</h4>
        <h4>1. Everytime you can only upload one video</h4>
        <h4>2. After uploading, the page will be refreshed for you to upload another one</h4>
        <h4>3. Multimedia button (upper right) can let you to edit your video</h4>
        <br>

        <form action="/user/videoadd" method="POST" enctype="multipart/form-data" onsubmit="return validadd()">
            <labe>Video description:</labe>
            <textarea type="text" class="form-control"
                placeholder="Briefly introduce the video. For example: Self-introduction video"
                name="description" rows="1" required></textarea>
            <div class="custom-file">
                <input type="file" class="custom-file-input" accept="video/*" name="avatarfile" required>
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <% flash.get('error1').forEach(function (message) { %>
                <div class="errormessage">
                    <strong style="color:red;font-size: 18px;">
                        <%= message %>
                    </strong>
                </div>
            <% }) %>

            <button type="submit" class="btn btn-dark btn-block">Upload</button>
        </form>

    </div>
</body>

<script>
    document.querySelector(".custom-file-input").onchange = function () {
        document.querySelector(".custom-file-label").textContent = this.files[0].name;
    }

</script>