<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/user/index">3D CV</a>
        <ul>
            <li><a href="/user/guide">User Guide</a></li>
            <li><a href="/user/template">CV Template</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <div style="margin: auto;width:65%">

        <h2 class="intro"> <i class="fa fa-briefcase" aria-hidden="true" style="padding-right: 20px;"></i>Work
            Experience</h2>
        <h4>Example:</h4>
        <h4>Company: BrainWild Global</h4>
        <h4>Position: .NET Developer Intern</h4>
        <h4>Date: From 2014-04 to 2014-09</h4>
        <h4>Description: Developed and provided maintenance for 20+ .NET websites, using ASP.NET MVC, jQuery, HTML, and
            CSS. Achieved 100% client satisfaction and on-time completion</h4>


        <form action="/user/work" id="workform" method="POST" onsubmit="return validwork2()">
            <div class="form-group row">

                <div class="col-xl-4 col-form-label center">
                    <label>Company:</label>
                    <input type="text" class="form-control" placeholder="Enter company" name="company1" id="company1"
                        required>
                </div>

                <div class="col-xl-4 col-form-label center">
                    <label>Job title:</label>
                    <input type="text" class="form-control" placeholder="Enter job title" name="job1" id="job1"
                        required>
                </div>

                <div class="col-xl-2 col-form-label center">
                    <label>From:</label>
                    <input type="month" class="form-control" min="1900-01" name="start1" id="start1" required>
                </div>

                <div class="col-xl-2 col-form-label center">
                    <label>To:</label>
                    <input type="month" class="form-control" min="1900-01" name="end1" id="end1" required>
                </div>

                <div class="col-xl-12 col-form-label center">
                    <label>Job Description:</label>
                    <textarea type="text" class="form-control"
                        placeholder="Briefly introduce the job. For example: Responsible for developing and providing maintenance for 20+ .NET websites"
                        name="description1" id="description1" rows="3" required></textarea>
                </div>

                <div class="col-xl-4 col-form-label center">
                    <label>Company:</label>
                    <input type="text" class="form-control" placeholder="Enter company" name="company2" id="company2">
                </div>

                <div class="col-xl-4 col-form-label center">
                    <label>Job title:</label>
                    <input type="text" class="form-control" placeholder="Enter job title" name="job2" id="job2">
                </div>

                <div class="col-xl-2 col-form-label center">
                    <label>From:</label>
                    <input type="month" class="form-control" min="1900-01" name="start2" id="start2">
                </div>

                <div class="col-xl-2 col-form-label center">
                    <label>To:</label>
                    <input type="month" class="form-control" min="1900-01" name="end2" id="end2">
                </div>

                <div class="col-xl-12 col-form-label center">
                    <label>Job Description:</label>
                    <textarea type="text" class="form-control"
                        placeholder="Briefly introduce the job. For example: Responsible for developing and providing maintenance for 20+ .NET websites"
                        name="description2" id="description2" rows="3"></textarea>
                </div>

                <!-- <div class="col-xl-4 col-form-label center">
                    <label>Company:</label>
                    <input type="text" class="form-control" placeholder="Enter company" name="company3" id="company3">
                </div>

                <div class="col-xl-4 col-form-label center">
                    <label>Job title:</label>
                    <input type="text" class="form-control" placeholder="Enter job title" name="job3" id="job3">
                </div>

                <div class="col-xl-2 col-form-label center">
                    <label>From:</label>
                    <input type="month" class="form-control" min="1900-01" name="start3" id="start3">
                </div>

                <div class="col-xl-2 col-form-label center">
                    <label>To:</label>
                    <input type="month" class="form-control" min="1900-01" name="end3" id="end3">
                </div>

                <div class="col-xl-12 col-form-label center">
                    <label>Job Description:</label>
                    <textarea type="text" class="form-control"
                        placeholder="Briefly introduce the job. For example: Responsible for developing and providing maintenance for 20+ .NET websites"
                        name="description3" id="description3" rows="3"></textarea>
                </div> -->


            </div>
            <button type="submit" class="btn btn-primary" style="float:right">Next</button>
        </form>

        <button onclick="goBack()" style="float:left" class="btn btn-primary">Back to Education</button>

    </div>

</body>

<script>

    function goBack() {
        window.history.back();
    }

    function validwork2() {
        const company = document.getElementById("company2");
        const job = document.getElementById("job2");
        const start = document.getElementById("start2");
        const end = document.getElementById("end2");
        const description = document.getElementById("description2");
        var valid = true;

        if (company.value == "" && job.value == "" && start.value == "" && end.value == "" && description.value == "") {
            valid = true;
        } else if (company.value != "" && job.value != "" && start.value != "" && end.value != "" && description.value != "") {
            valid = true;
        } else {
            alert("Make sure you enter all the elements of one job record");
            valid = false;
        }
        return valid;
    }

    // function validwork3() {
    //     const company = document.getElementById("company3");
    //     const job = document.getElementById("job3");
    //     const start = document.getElementById("start3");
    //     const end = document.getElementById("end3");
    //     const description = document.getElementById("description3");
    //     var valid = true;

    //     if (company.value == "" && job.value == "" && start.value == "" && end.value == "" && description.value == "") {
    //         valid = true;
    //     } else if (company.value != "" && job.value != "" && start.value != "" && end.value != "" && description.value != "") {
    //         valid = true;
    //     } else {
    //         alert("Make sure you enter all the elements of one job record");
    //         valid = false;
    //     }
    //     return valid;
    // }


</script>