<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="nav-button" href="/visitor/register">Register</a></li>
            <li><a class="nav-button" href="/visitor/login">Login</a></li>
        </ul>
    </nav>

    <div>
        <p class="intro">Let's register an account to create your own dynamic CV</p>
        <img class="center" src="https://upload.cc/i1/2020/10/13/Gu6oJk.png">
    </div>

</body>