<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="nav-button" href="/visitor/register">Register</a></li>
            <li><a class="nav-button" href="/visitor/login">Login</a></li>
        </ul>
    </nav>

    <div>
        <p class="intro">Let's register an account to create your own dynamic CV</p>
        <!-- <img class="center" src="https://upload.cc/i1/2020/10/13/Gu6oJk.png"> -->
        <lottie-player  class="center" src="https://assets4.lottiefiles.com/packages/lf20_n5XD1Y.json"  background="transparent"  speed="1"  style="width: 1000px; height: 1000px;"  loop  autoplay></lottie-player>
    </div>

</body>