<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>
    .errormessage {
        width: 95%;
        border: 1px double red;
        border-radius: 3px;
        height: 30px;
        background-color: rgb(255, 0, 0, 0.1);
        text-align: center;
        margin: auto;
    }
</style>


<body onload="pageLoaded()">
    <nav>
        <a class="logo disable" href="/">3D CV</a>
        <ul>
            <li><a href="/visitor/guide">User Guide</a></li>
            <li><a href="/visitor/template">CV Template</a></li>
            <li><a class="nav-button" href="/visitor/register">Register</a></li>
            <li><a class="nav-button" href="/visitor/login">Login</a></li>
        </ul>
    </nav>

    <div class="container" style="width: 30%;">
        <h2 class="intro">Register</h2>
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_iXKIMU.json" background="transparent"
            speed="0.8" style="width: 250px; height: 250px;" class="center" loop autoplay></lottie-player>
        <form action="/visitor/register" method="POST" onsubmit="return pwvalid()">
            <div class="form-group row">
                <div class="col-xl-12 col-form-label center">
                    <label>Username:</label>
                    <input type="text" class="form-control" name="username" id="username"
                        placeholder="Enter your username" required>
                </div>

                <% flash.get('error1').forEach(function (message) { %>
                    <div class="errormessage">
                        <strong style="color:red;font-size: 18px;">
                            <%= message %>
                        </strong>
                    </div>
                    <% }) %>

                        <div class="col-xl-12 col-form-label">
                            <label>Password:</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Enter your password" required>
                        </div>

                        <div class="col-xl-12 col-form-label">
                            <label>Confirm Password:</label>
                            <input type="password" class="form-control" id="password2"
                                placeholder="Enter your password again" required>
                        </div>

                        <div class="col-xl-12">
                            <label>Password requirments:</label>
                            <br>
                            <label><i class="fa fa-certificate" aria-hidden="true"></i> At least 1 lowercase letter</label>
                            <br>
                            <label><i class="fa fa-certificate" aria-hidden="true"></i> At least 1 uppercase letter</label>
                            <br>
                            <label><i class="fa fa-certificate" aria-hidden="true"></i> At least 1 number</label>
                            <br>
                            <label><i class="fa fa-certificate" aria-hidden="true"></i> At least 8 characters</label>
                        </div>
            </div>
            <button type=" submit" class="btn btn-primary center" style="width:100%">Submit</button>
        </form>
    </div>

</body>

<script>

    function pwvalid(){
        var valid=true;
        var pw1=document.getElementById("password").value;
        var pw2 = document.getElementById("password2").value;
        if(pw1.length<8){
            alert("Password should be at least 8 characters")
            valid=false;
        }
        else if(pw1.search(/[a-z]/)<0){
            alert("Password should contain at least 1 lowercase letter")
            valid=false;
        }
        else if(pw1.search(/[A-Z]/)<0){
            alert("Password should contain at least 1 uppercase letter")
            valid=false;
        }
        else if(pw1.search(/[0-9]/)<0){
            alert("Password should contain at least 1 number")
            valid=false;
        }
        else if (pw2 != pw1) {
            alert("Make sure you input the same password!")
            valid = false;
        }

        return valid;
    }

</script>